{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1">{{ single_blog.title }}</h1>
                    <div class="text-muted fst-italic mb-2">Posted on {{ single_blog.created_at }} by {{ single_blog.author }}</div>
                    <a class="badge bg-warning text-decoration-none text-light" href="#!">{{ single_blog.category }}</a>
                </header>
                <figure class="mb-4">
                    <img src="{{ single_blog.featured_image.url }}"
                        class="img-fluid rounded w-100"
                        style="height:300px; object-fit:cover;"
                        alt="...">
                </figure>
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{ single_blog.short_description }}</p>
                    <p class="fs-5 mb-4">{{ single_blog.blog_body }}</p>

                    <!-- Comments -->
                    <h4>Comments ({{ comment_count }})</h4>
                    {% if comments %}
                        {% for comment in comments %}
                            <div class="card mt-1">
                                <div class="card-body">
                                    <p class="card-text mb-0">{{ comment }}</p>
                                    <span>
                                        <small>By {{ comment.user }}</small>
                                        <small>| {{ comment.created_at | timesince }} ago</small>
                                    </span>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        No comments yet.
                    {% endif %}
                    <br>
                    <div class="form-group">
                        {% if user.is_authenticated %}
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="form-group mt-2">
                                    <textarea name="comment" class="form-control" placeholder="Write your comment"></textarea>
                                    <input type="submit" value="Submit" class="btn btn-sm btn-outline-primary mt-2">
                                </div>
                            </form>
                        {% else %}
                            <p>Please <span><a href="{% url 'login' %}">login</a></span> to write a comment!</p>
                        {% endif %}
                    </div>

                </section>
            </article>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <div class="card mb-4 p-3">
                <h4 class="font-italic">Categories</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                {% for category in categories %}
                                <li><a href="{% url 'blogs_by_category' category.id %}">{{ category.category_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
             {% if social_links %}
              <div class="p-3">
                <h4 class="font-italic">Follow Us</h4>
                <ol class="list-unstyled">
                  {% for links in social_links %}
                    <li><a href={{links.platform_link}} target="_blank">{{ links.platform_name }}</a></li>
                  {% endfor %}
                </ol>
              </div> 
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}