{% extends "base.html" %}

{% block content %}
    {% if blogs %}
        <h3 class="text-warning text-uppercase" style="letter-spacing:2px;">Search Term - {{ keyword }}</h3>
        <div class="row mb-2">
            {% for blog in blogs %}
                <div class="col-md-6">
                    <div class="card border-0" >
                        <div class="card-body">
                            <h3><a href="{% url 'blogs' blog.slug %}" class="text-dark">{{blog.title}}</a></h3>
                            <small class="mb-1 text-muted">{{ blog.updated_at | timesince}} ago| {{ blog.author }}</small>
                            <p class="card-text">{{ blog.short_description | truncatewords:20 }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}