{% extends "base.html" %}

{% block content %}

<div class="row">
    {% include "dashboard/sidebar.html" %}
    <div class="col-md-9">
        <h3 class="text-center my-3">All Blogs</h3>
        <a href="{% url 'add_blog' %}" class="btn btn-sm btn-outline-dark mb-2 float-right">Add New</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Author</th>
                    <th>Status</th>
                    <th>Featured</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for blog in blogs %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ blog.title }}</td>
                        <td>{{ blog.category }}</td>
                        <td>{{ blog.author }}</td>
                        <td>{{ blog.status }}</td>
                        <td>{% if blog.is_featured %}<i class="fa fa-check text-success"></i>
                            {% else %} <i class="fa fa-times text-danger"></i>
                           {% endif %}</td>
                        <td>
                            <a href="{% url 'edit_blog' blog.id %}"><i class="fa fa-edit text-success"></i></a>
                            &nbsp
                            <a href="{% url 'delete_blog' blog.id %}"><i class="fa fa-trash text-danger"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>       
    </div>
</div>

{% endblock content %}