{% extends "base.html" %}

{% block content %}

<div class="row">
    {% include "dashboard/sidebar.html" %}
    <div class="col-md-9">
        <p>Logged in as <b>{{ user }}( {{user.groups.first}} )</b></p>
        <div class="row">
            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">
                        All Categories
                    </div>
                    <div class="card-body text-dark">
                        <h5 class="card-title text-center">{{category_count}}</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">
                        All Posts
                    </div>
                    <div class="card-body text-dark">
                        <h5 class="card-title text-center">{{ blog_count}}</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}