{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        {% include "dashboard/sidebar.html" %}
        <div class="col-md-9">
            <h3 class="text-center my-3">Edit Blog</h3>

            <form action="{% url 'edit_blog' blog.id %}" method="post" class="mx-auto" enctype="multipart/form-data" style="width: 600px;">
                {% csrf_token %}

                {{ form | crispy}}

                <button type="submit" class="btn btn-warning">Update</button>
            </form>
        </div>
    </div>
{% endblock %}